@import '../../assets/styles/theme-colors.scss';

.abutton{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 8px;

    width: 106px;
    height: 46px;

    background: $secondary;
    border-radius: 8px;

}